body {
    border: 0;
    margin: 0;
    background-color: rgb(0, 37, 37);
    color: aliceblue;
}

.menu_nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);

}

#inicio {
    position: absolute;
    bottom: 5%;
    right: 5%;
    border-radius: 50%;
    background-color: rgba(1, 59, 59, 0.534);
    width: 3%;
    height: 5vh;
    border: 1px black solid;
    box-shadow: 10px 10px black;
}

#flecha {
    width: 75%;
    right: 50%;
}